/* Base CSS */

@font-face {
    font-family: "CodeBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CODEBold.eot") format("embedded-opentype"), url("../fonts/CODEBold.woff2") format("woff2"), url("../fonts/CODEBold.woff") format("woff"), url("../fonts/CODEBold.ttf") format("truetype"), url("../fonts/CODEBold.svg#codebold") format("svg");
}

@font-face {
    font-family: 'CODELight';
    src: url('../fonts/CODELight.eot');
    src: url('../fonts/CODELight.eot') format('embedded-opentype'), url('../fonts/CODELight.woff2') format('woff2'), url('../fonts/CODELight.woff') format('woff'), url('../fonts/CODELight.ttf') format('truetype'), url('../fonts/CODELight.svg#CODELight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODELight', sans-serif;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Karla', sans-serif;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header-top-area {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 9;
}

.header-top-area a {
    color: #5b3f61;
    display: inline-block;
    padding: 15px;
}

.header-top-area a.menu-trigger {
    display: none;
}

.header-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.header-left li {
    display: inline-block;
}

.header-right {
    text-align: right;
}

.search-trigger i.fa {
    padding-left: 10px;
}

.homepage-slider-wrap div {
    height: 100%;
}

.homepage-slider-wrap {
    background-color: #ead6cf;
    background-position: center center;
    background-size: cover;
    height: 100%;
    background-image: url(../images/hero.jpg);
}

.single-slider-item {
    position: relative;
}

.single-slider-item img {
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    width: 600px;
}

.slider-text-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}

.slider-text-table-cell {
    color: #e9558c;
    display: table-cell;
    font-family: codelight, sans-serif;
    font-size: 100px;
    line-height: 100px;
    padding-left: 15%;
    vertical-align: middle;
}

.slider-text-table-cell strong {
    font-family: codebold;
    font-weight: normal;
}

.text-alternating-color {
    color: #6db0c6;
}

.big-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.big-menu li {
    float: left;
    font-family: codelight;
    font-size: 50px;
    transition: .3s;
}

.big-menu li:hover {
    opacity: .5;
}

.big-menu li a {
    display: block;
    padding: 30px;
    color: #5B3F61;
    padding-top: 170px;
}

.big-menu li:nth-child(1) {
    background-color: #ecf3e8;
    width: 30%;
}

.big-menu li:nth-child(2) {
    background-color: #F1E5E5;
    width: 20%;
}

.big-menu li:nth-child(3) {
    background-color: #F6F3E6;
    width: 20%;
}

.big-menu li:nth-child(4) {
    background-color: #ECF4F5;
    width: 30%;
}

.big-menu li:nth-child(1) a {
    text-align: right;
}

.big-menu li:nth-child(2) a {
    color: #e84f88;
    font-family: codebold;
    text-align: center;
}

.big-menu li:nth-child(3) a {
    text-align: center;
}

.big-menu li:nth-child(4) a {
    text-align: left;
}

.product-bg-1 {
    background-image: url(../images/pd-1.png);
}

.product-bg-2 {
    background-image: url(../images/pd-2.png);
}

.product-bg-3 {
    background-image: url(../images/pd-3.png);
}

.product-bg-4 {
    background-image: url(../images/pd-4.png);
}

.product-bg-5 {
    background-image: url(../images/pd-5.png);
}

.product-bg-6 {
    background-image: url(../images/pd-6.png);
}

.product-bg-7 {
    background-image: url(../images/pd-7.png);
}

.product-bg-8 {
    background-image: url(../images/pd-8.png);
}

.product-bg-9 {
    background-image: url(../images/pd-9.png);
}

.product-bg-10 {
    background-image: url(../images/pd-10.png);
}

.product-area {
    padding-top: 100px;
}

.products-list {
    margin-left: -2%;
    overflow: hidden;
}

.single-product-item {
    background-color: #f5eeed;
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 18%;
}

.single-product-item:nth-child(2) {
    background-color: #f0e7e7;
    height: 620px;
    width: 78%;
}

.single-product-item:nth-child(3) {
    background-color: #e1e9e9;
}

.single-product-item:nth-child(4) {
    width: 58%;
    background-color: #EFEEE9;
}

.single-product-item:nth-child(5) {
    background-color: #F3F6F7;
}

.single-product-item:nth-child(6) {
    background-color: #F0F3F0;
}

.single-product-item:nth-child(7) {
    background-color: #EFF3F3;
}

.single-product-item:nth-child(8) {
    background-color: #eff3f0;
}

.single-product-item:nth-child(9) {
    width: 38%;
    background-color: #F1E8F2;
}

.single-product-item:nth-child(10) {
    background-color: #efeee9;
}

.product-top-link {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 999;
}

.product-top-link>a {
    color: #b4a5b5;
    padding: 10px;
}

.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    opacity: 0;
    transition: .3s;
}

.product-hover>a {
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    height: 40px;
    left: 50%;
    line-height: 35px;
    margin-left: -40px;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80px;
    z-index: 1;
    transition: .3s;
}

.product-hover::after {
    background: #97c6d5 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.product-bottom-info {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 9;
    color: #5B3F61;
    padding-top: 10px;
}

.product-bottom-info h4 {
    font-family: karla;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.product-bottom-info span.product-price {
    color: #e84f88;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-bottom-info p {
    margin: 0;
}

.color-sep {
    background: #908A91 none repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    width: 1px;
}

.product-color-box span {
    border: 1px solid #D9D4DA;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.product-color-box span.product-color-white {
    background-color: #fff;
}

.product-color-box span.product-color-green {
    background-color: #99E4E7;
    border: 1px solid #99E4E7;
}

.product-color-box span.product-color-red {
    background-color: #EE4A4A;
    border: 1px solid #EE4A4A;
}

.single-product-item:hover .product-hover {
    opacity: 1;
}

.single-product-item:hover .product-hover>a {
    margin-top: -40px;
}

.single-product-item:hover .product-top-link a {
    color: #fff;
}
