/* Base CSS */
@font-face {
    font-family: "CodeBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CODEBold.eot") format("embedded-opentype"), url("../fonts/CODEBold.woff2") format("woff2"), url("../fonts/CODEBold.woff") format("woff"), url("../fonts/CODEBold.ttf") format("truetype"), url("../fonts/CODEBold.svg#codebold") format("svg");
}
@font-face {
  font-family: 'CODELight';
  src: url('../fonts/CODELight.eot');
  src: url('../fonts/CODELight.eot') format('embedded-opentype'), url('../fonts/CODELight.woff2') format('woff2'), url('../fonts/CODELight.woff') format('woff'), url('../fonts/CODELight.ttf') format('truetype'), url('../fonts/CODELight.svg#CODELight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODELight' , sans-serif;
}
html,
body { height: 100% }
body {
    font-family: 'Karla', sans-serif;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.homepage-slider-wrap {
    background-image: url(../images/hero.jpg);
}
.product-bg-1 {
    background-image: url(../images/pd-1.png);
}
.product-bg-2 {
    background-image: url(../images/pd-2.png);
}
.product-bg-3 {
    background-image: url(../images/pd-3.png);
}
.product-bg-4 {
    background-image: url(../images/pd-4.png);
}
.product-bg-5 {
    background-image: url(../images/pd-5.png);
}
.product-bg-6 {
    background-image: url(../images/pd-6.png);
}
.product-bg-7 {
    background-image: url(../images/pd-7.png);
}
.product-bg-8 {
    background-image: url(../images/pd-8.png);
}
.product-bg-9 {
    background-image: url(../images/pd-9.png);
}
.product-bg-10 {
    background-image: url(../images/pd-10.png);
}















