/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
html,
body {
    height: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    color: #999;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero-area {
    font-weight: 300;
    padding: 150px 0;
    border-bottom: 1px solid #f7f7f7;
}

.main-menu ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    padding: 12px 12px;
    display: block;
    color: #888;
    transition: .2s;
}

.box-btn,
input[type=submit],
input[type=button] {
    padding: 12px 24px;
    display: inline-block;
    background-color: #EF476F;
    color: #fff;
    border-radius: 2px;
    border: none;
}

.hero-area h1 {
    font-size: 40px;
    max-width: 440px;
    margin-bottom: 20px;
    padding-top: 25px;
}

input[type="url"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
}

input[type="submit"],
input[type="button"] {
    padding: 11px 20px;
    font-weight: 400;
}

.website-checker-form {
    margin-top: 30px;
}

.header-area {
    padding: 20px 0;
}

.main-menu a:hover {
    color: #EF476F;
}

.box-btn:hover {
    color: #fff;
}
