/* Base CSS */

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

html,
body {
    height: 100%
}

body {}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section.section-padding {
    padding: 80px 0;
}

.section-heading {
    margin-bottom: 50px;
}

body {
    font-weight: 400;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: 700;
}

.single-team-item img {
    border: 2px solid #e8e8e8;
}

.team-social-icons {
    background-color: #8ac25b;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -30px;
    padding: 5px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.team-social-icons a {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    width: 30px;
}

.single-team-item h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}

.single-team-item h4 span {
    color: #8ac25b;
    display: block;
    font-size: 80%;
    font-weight: 300;
}
