/* Base CSS */

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 15px;
    line-height: 1.7;
}

section.header-top-area {
    background-color: #218ae6;
    padding: 10px 0;
}

.header-top-area,
.header-top-area a {
    color: #fff;
}

.header-top-area i.fa {
    padding-left: 20px;
    padding-right: 7px;
}

.header-area h3 a {
    color: #000;
    font-weight: 700;
}

.main-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    color: #333;
    display: block;
    padding: 25px 0 25px 50px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.main-menu a:hover {
    color: #218ae6;
}

.homepage-slides {
    background-color: #218ae6;
    color: #fff;
    font-size: 17px;
}

.homepage-slides h2 {
    font-size: 50px;
    font-weight: 100;
}

.lode-more {
    background-color: #f9cf25;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    padding: 12px 24px;
    text-transform: uppercase;
}

.lode-more i.fa {
    padding-left: 5px;
}

.homepage-slides .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    width: 100%;
}

.single-homepage-slide {
    padding: 150px 0;
}

.homepage-slides .owl-dots div {
    background: #F9CF25 none repeat scroll 0 0;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
}

.homepage-slides .owl-dots div.active {
    background-color: #fff;
}
