/* Base CSS */

html,
body {
    height: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

html,
body {
    height: 100%;
}

body {}

a:hover,
a:focus {
    text-decoration: none;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.slide-text-area-2 .col-md-7 {
    padding-right: 0;
    padding-left: 0;
}

.single-slide-item {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    margin: 200px 0;
    position: relative;
}

.slide-text-area {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.slide-text {
    background-color: #1c83c8;
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 50px 150px 50px 50px;
    position: relative;
    width: 100%;
}

.slide-text h2 {
    font-size: 40px;
    font-weight: 800;
}

.slide-text p {
    font-size: 20px;
    line-height: 1.8;
    margin: 20px 0;
}

.box-btn {
    background-color: #3e3f43;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.box-btn:hover {
    box-shadow: 0 0 10px;
    color: #ddd;
}

.slide-text::before {
    background-color: #1c83c8;
    content: "";
    height: 100%;
    left: -1000%;
    position: absolute;
    top: 0;
    width: 1000%;
}

.slide-text::after {
    background-color: #1c83c8;
    content: "";
    height: 30px;
    position: absolute;
    right: -15px;
    top: 70px;
    transform: rotate(45deg);
    width: 30px;
}

.single-slide-item-2 {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    margin: 200px 0;
    position: relative;
}

.slide-text-area-2 {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.slide-text-2 {
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 50px 150px 50px 50px;
    position: relative;
    width: 100%;
}

.slide-text-2 h2 {
    font-size: 40px;
    font-weight: 800;
}

.slide-text-2 p {
    font-size: 20px;
    line-height: 1.8;
    margin: 20px 0;
}

.box-btn {
    background-color: #3e3f43;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.box-btn:hover {
    box-shadow: 0 0 10px;
    color: #ddd;
}

.slide-text-2::before {
    background-color: #1c83c8;
    content: "";
    height: 100%;
    left: -1000%;
    position: absolute;
    top: 0;
    width: 1000%;
    opacity: .5;
}

.slide-text-inner {
    border-bottom: 20px solid transparent;
    border-left: 25px solid #1c83c8;
    border-top: 20px solid transparent;
    opacity: 0.5;
    position: absolute;
    right: -25px;
    top: 75px;
    width: 0;
}

.slide-text-opacity::before {
    background-color: #1c83c8;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
