/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    color: #999999;
    font-family: 'Roboto', sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    color: #212121;
}
.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
}
.section-title h2 {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 25px;
}
.section-title h2::before {
  background: #222222 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  bottom: 0;
  width: 60px;
}
.section-title h2::after {
    background: #ff8f17 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    bottom: 0;
    width: 20px;
}
.single-blog-box {
  margin-bottom: 30px;
}
.blog-bg-1 {
    background: rgba(0, 0, 0, 0) url("../images/bg-1.jpg");
}
.blog-bg-2 {
    background: rgba(0, 0, 0, 0) url("../images/bg-2.jpg");
}
.blog-bg-3 {
    background: rgba(0, 0, 0, 0) url("../images/bg-3.jpg");
}
.single-blog-bg {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
	border: 1px solid #FF8F17;
    border-bottom: 0 solid;
}

.single-blog-content {
    padding: 30px 20px;
}
.blog-meta {
	padding-bottom: 20px;
}
.blog-meta span:first-child {
    margin-right: 30px;
}
.blog-meta i.fa {
    padding-right: 5px;
    color: #FF8F17;
}
.blog-meta a {
    color: #999999;
}
.single-blog-content {
    border: 1px solid #9b9792;
    border-top: 0 solid;
    transition: all 0.3s ease 0s;
}
.single-blog-box:hover >.single-blog-content {
    border: 1px solid #FF8F17;
    border-top: 0px solid;
}
.blog-btn a {
    margin-top: 30px;
    background: #FF8F17 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}
.blog-btn a:hover {
    background: #222222 none repeat scroll 0 0;
    color: #fff;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
